span {
    margin: 0 5px;
}

span.title {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
}

span.badge {
    background-color: #84b6eb;
}

span.close {
    cursor: pointer;
}
span.remove-tag{
    margin: 0 0 0 5px!important;
    display: none;
    cursor: pointer;
    padding: 3px;
}

span.label:hover >span.remove-tag{
    display: inline;
}