<a class="list-group-item" (mouseover)="showClose=true"
   (mouseleave)="showClose=false">
    <span class="title">{{task['title']}}</span>
    <span class="label" [ngClass]="tag['class']" *ngFor="#tag of task['tags']; #tagPosition=index" >
        {{tag['title']}}<span class="remove-tag"
                              (click)="removeTag.emit({position:position,tagPosition:tagPosition})">x</span>
    </span>
    <span class="pull-right close" (click)="removeTask.emit(position)" *ngIf="showClose">x</span>
</a>